.left-navigation {
  width: 25%;
}

.accordion {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  padding: 2px;
  width: 100%;
  border: 1px solid black;
  text-align: center;
  font-size: 15px;
  transition: 0.4s;
}

ul {
  margin: 2px;
  list-style-type: none;
}

li {
  width: 100%;
}

button {
  border: 1px solid black;
  padding: 2px;
  cursor: pointer;
  text-align: center;
  margin: 2px;
  width: 100%;
  transition: 0.4s;
  font-size: 15px;
}

button:hover {
  background-color: #ccc;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
